
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #000000;
}
$bg-header-top: #EAFEEC;
$bg-header-menu: #F1FFF8;
$bg-pro: #F1F3F2;
$bg-block: #E5E5E5;
$ling-text: #20414D;
$black: #000000;
$red: #F62A2A;
$head-text: #212D32;
$title-pro: #32505B;
$text-main: #376474;
$text-white: #FFFFFF;
$health-green: #38CEA8;
$gold-star: #ED8A19;
$placeholder: #404040;
$bg-btn-gray: #F0E9E9;
$bord-grey: #888282;
$border-tab-blue: #6377DD;
$border-tab-red: #FF001F;

@mixin font-face($fw, $fs, $lh){
    font-family: 'Roboto';
    font-style: normal;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}
body{
    background: $bg-block;
    
}
.header__top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.25vw 4.27vw;
    background-color: $bg-header-top;
}  
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    span{
        @include font-face(400, 24px, 32px);
    }
    b{
        font-weight: 700;
    }
}
.social{
    display: flex;
    align-items: center;
    gap: 1.25vw;
    
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.25vw 0;
    background-color: $bg-header-menu;
}
.header__menu-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    
    li{
        @include font-face(400, 16px, 24px);
        color: $ling-text;
    }
}
.menu__dropdown{
    position: absolute;
    margin-left: 555px;
    background: $bg-header-menu;
    border: none;
}
.menu__dropbtn{
    background-color: $bg-header-menu;
}
.menu__dropbtn:hover{
    background-color: $health-green;
}
.menu__dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    a {
        @include font-face(400, 16px, 24px);
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    a:hover {
        background-color:$bg-header-menu;
    }
}
.menu__dropdown:hover .menu__dropdown-content {
    display: block;
}
.contact{
    display: flex;
    align-items: center;
    gap: 32px;
    a{
        @include font-face(400, 16px, 24px);
        color: $head-text;
    }
}
.fitness{
    background: url('./image/ledy.jpg') no-repeat; 
    height: 39.79vw;
    background-size: 100%;
    padding: 8.21vw 0 2.084vw 13.021vw;
}
.call-to-action{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 31vw;
    gap: 20px;

&__title{
    color: $title-pro;
}
&__subtitle{
    @include font-face(700, 48px, 56px);
    color: $text-main;
}
&__description{
    color: $text-main;
}
}
.title{
    @include font-face(500, 48px, 3.5rem);
}
.title--font400{
    @include font-face(400, 48px, 56px);
}


.description{
    @include font-face(400, 16px, 24px);
}
.btn-box{
    // display: flex;
    align-items: center;
    gap: 1vw;
    @include font-face(400, 16px, 24px);

&__btn{
    border: none;
    padding: .84vw 1.66vw;
    border-radius: 32px;
}
&--red{
    background: $red;
    color: $text-white;
}
&--green{
    background: $health-green;
    border-radius: 32px;
    color: $text-white;
}
&--no-fill{
    padding: 8px 32px;
    background: none;
    border: 2px solid $health-green;
    border-radius: 24px;
    color: $health-green;
}
&--fill-green-btn-mail{
    padding: 8px 32px;
    background: $health-green;
    border: 2px solid $health-green;
    color: $text-white;
    border-radius: 24px;
}
&--no-fill-white{
    padding: 8px 32px;
    background: none;
    border: 2px solid $text-white;
    border-radius: 24px;
    color: $text-white;
}
&--no-fill-footer{
    padding: 8px 16px;
    background: none;
    border: 2px solid $health-green;
    border-radius: 24px;
    color: $health-green;
}
}

.subtitle{
    @include font-face(400, 24px, 32px);
    color: $text-main;
}


.recipes{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    &__title{
    margin: 80px 0 16px 0 ;
    color: $head-text;
    }
    &__subtitle{
        margin-bottom: 50px;
    }


    &__content{
        display: flex;
        justify-content: space-around;
        gap: 73px;
        margin-bottom: 46px;
    }
} 
.box{
    display: flex;
    flex-direction: row;
    gap: 11px;
    

}
.box__number-item{
    @include font-face(700, 48px, 56px);
    color: $health-green;
}



.inner-list{
    text-align: left;

    &__title-item{
        @include font-face(700, 20px, 32px);
        color: $text-main;
    }
    &__subtitle-item{
        @include font-face(400, 16px, 24px);
        color: $text-main;

    }
    &__description-item{
        width: 337px;
        margin-top: 16px;
        @include font-face(400, 16px, 24px);
        color: $text-main;
    }
}
.dishes__bgr-preview{
    background: url('./image/bgr-preview.jpg') no-repeat;
    background-size: 100%;
    margin-top: 30px;
}
.dishes__conteiner{
    display: flex;
    padding: 35px 14.85vw 75px 14.85vw;
    width: 1652px;
    gap: 32px;
    
}
.dishes__preview-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $text-white;
    border-radius: 10px;
}
.title-item{
    @include font-face(400, 24px, 32px);
}
.subtitle-item{
    @include font-face(400, 16px, 24px);
}
.description-item{
    @include font-face(400, 16px, 24px);
}

.preview-box__title-item{
    
    color: $text-main;
}
.preview-box__subtitle-item{
    
    color: $text-main;
}
.preview-box__description-item{
    color: $text-main;
    max-width: 320px;
}
.preview-box__photo{
    padding: 10px 10px;
}
.preview-box__line{
    margin-top: 32px;
}
.stories{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;

    &__box-tsd{
        display: flex;
        flex-direction: column;
        gap: 10px;


    }
    &__title{
        color: $health-green;
    }
    &__subtitle{
        color: $head-text;
    }
    &__descriptions{
        @include font-face(400, 16px, 24px);
        color: $head-text;
        max-width: 696px;

    }
    img{
        
        border: 2px solid $health-green;
        border-radius: 10px;
    }

}
.line{
    border:2px solid $health-green;
    max-width: 1386px;
    border-radius: 2px;
    opacity: 0.35;
    margin: auto;

    
}
.revievs{
    padding: 24px 140px ;

}
.box-content{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}


.box-content--right{
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
}
.revievs__inner-list{
    margin-right: 159px;
}

.revievs__inner-list{
    display: flex;
    flex-direction: column;
}
.reviev__description{
    color: $head-text;
    width: 280px;
    margin-bottom: 16px;
}

.inner-list__name-lost{
    @include font-face(400, 16px, 24px);
    color: $health-green;
    b{
        @include font-face(500, 18px, 24px);  
        margin-right: 4px;
    }
    margin-bottom: 8px;
}

.arrow-box{
    display: flex;
    justify-content: space-between;
    padding: 10px 135px;
}


.program-plan{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background: rgba($health-green, .12);
    margin-top: 64px;
    
    
    
    
    &__title{
    @include font-face(400, 48px, 56px);
    margin: 80px 0 16px 0 ;
    }
    &__subtitle{
        margin-bottom: 50px;
    }
    &__content{
    display: flex;
    justify-content: space-evenly;
    width: 1652px;
    margin-bottom: 50px;
    
    }
    
}
.program-plan__box{    
    text-align: center;
}
.inner-list__title{
    @include font-face(500, 22px, 24px);
    color: $head-text;
}
.inner-list__description{
    @include font-face(400, 16px, 24px);
    color: $ling-text;
    width: 276px;
}

.tabl{
    border-collapse: collapse; 
    margin: 56px auto;
    text-align: center;
    border: 1px solid $border-tab-blue;
    &__title {
        @include font-face(400, 24px, 32px);
        color: $head-text;
    }
    &__title--price{
        padding: 24px 0;
    }
    &__subtitle{
        @include font-face(400, 16px, 24px);
        color: $text-main;
        b{
            @include font-face(400, 24px, 32px);
            color: $head-text; 
        }
    }
    &__description{
        @include font-face(400, 16px, 24px);
        color: $head-text;
        b{
        @include font-face(300, 58px, 56px);
        color: $head-text;
        }
    }

}

th{
    width: 304px;
    height: 88px;
    border: 1px solid rgba($border-tab-blue, .5);
}
td{
    width: 304px;
    height: 48px;
    border: 1px solid rgba($border-tab-blue, .5);
}
.tabl-btn{

    padding: 52px 0;
}


.recommendation__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;

}
.recommendation__title-item{
    color: $head-text;
    margin: 15px 0;
}
.recommendation__description{
    width: 26.5vw;
    color: $ling-text;
}
.subscription-mail__bgr{
    background: url('./image/fructs.jpg') no-repeat;
    background-size: 100%;
    margin-top: 30px;
}
.subscription-mail__forma-box{
    display: flex;
    flex-direction: column;
    
    background-color: $text-white;
    border-radius: 10px;
}
.subscription-mail__conteiner{
    display: flex;

    padding: 140px 49.85vw 182px 12.85vw;
    width: 1652px;
    gap: 32px;
}
.subscription-mail__forma-box{
    padding: 59px 60px;

}
.forma-box__title-item{
    color: $health-green;
}
.forma-box__subtitle-item{
    color: $ling-text;
    margin-bottom: 31px;
}
.forma-box__description-question{
    @include font-face(400, 12px, 18px);
    color: $head-text;
    
}
.forma-box__description-call{
    @include font-face(500, 12px, 18px);
    color: $head-text;
    margin-bottom: 40px;
}

.mail-adress{
    background: #F0E9E9;
    border: 1px solid #888282;
    border-radius: 32px;
    @include font-face(400, 16px, 24px);
    color: $placeholder;
    padding: 8px 160px 8px 16px;
    margin-bottom: 16px;
}
.subscription-mail__btn-notification{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;
    p{
        @include font-face(400, 9px, 24px);
        color: $head-text;
    }

}
.coaches{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        @include font-face(500, 48px, 56px);
        color: $head-text;
        margin-top: 72px;
        
    }
    &__subtitle{
        @include font-face(400, 24px, 32px);
        color: $ling-text;
        width: 999px;
        text-align: center;
        padding: 10px 0 24px 0;
        
    }
}
.inner-list__name{
    @include font-face(500, 18px, 24px);
    color: $health-green;
}

.profil__title-inner{
    @include font-face(700, 12px, 18px);
    color: $head-text;
    padding: 8px 0;
}
.coache__description{
    color: $ling-text;
    width: 309px;
}

.coaches__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    
}
.coache__name-social{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.coache__inner-box{
    display: flex;
    gap: 25px;
}
.additional-information{
    @include font-face(400, 24px, 32px);
    color: $ling-text;
    padding: 64px 0 72px 0;
}
.request__content{
    background: $health-green;
}
.request__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 80px 0;
}
.request__description{
    @include font-face(700, 24px, 32px);
    color: $text-white;
}
.footer__navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
}

.agreement{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 228px;
}

.agreement__title{
    @include font-face(400, 12px, 14px);
    color: $head-text;
    margin-bottom: 25px;
}
.agreement__subtitle{
    @include font-face(400, 12px, 14px);
    color: $black;
}
.agreement__description{
    @include font-face(400, 12px, 14px);
    color: $text-main;
    width: 280px;
}
.box-navigation__title{
    @include font-face(400, 16px, 24px);
    color: $text-main;
    margin-bottom: 15px;
}
.box-navigation__list-item{
    @include font-face(400, 16px, 35px);
    color: $head-text;
}
.navigation-conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 560px;
    
}