@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  color: #000000;
}

body {
  background: #E5E5E5;
}

.header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.25vw 4.27vw;
  background-color: #EAFEEC;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}
.logo span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 32px;
}
.logo b {
  font-weight: 700;
}

.social {
  display: flex;
  align-items: center;
  gap: 1.25vw;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25vw 4.69vw;
  background-color: #F1FFF8;
}

.header__menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.header__menu-item li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #20414D;
}
.header__menu-item a:hover {
  border-bottom: 2px solid #20414D;
}
.header__menu-item a.menu__dropbtn {
  border-bottom: 2px solid #20414D;
}

.menu__dropdown {
  position: absolute;
  margin-left: 555px;
  background: #F1FFF8;
  border: none;
}

.menu__dropbtn {
  background-color: #F1FFF8;
}

.menu__dropbtn:hover {
  background-color: #38CEA8;
}

.menu__dropdown-content {
  display: none;
  position: absolute;
  z-index: 5;
  background: #F1FFF8;
  border-radius: 0 0 32px 32px;
  width: 300px;
}
.menu__dropdown-content a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}
.menu__dropdown-content a:hover {
  background-color: #38CEA8;
  border-radius: 32px;
  color: #FFFFFF;
  border: none;
}

.menu__dropdown:hover .menu__dropdown-content {
  display: block;
}

.contact {
  display: flex;
  align-items: center;
  gap: 32px;
  border: none;
}
.contact a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #212D32;
}

.fitness {
  background: url("./image/ledy.jpg") no-repeat;
  height: 39.79vw;
  background-size: 100%;
  padding: 8.21vw 0 2.084vw 13.021vw;
}

.call-to-action {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 31vw;
  gap: 1.042vw;
}
.call-to-action__title {
  color: #32505B;
}
.call-to-action__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 56px;
  color: #376474;
}
.call-to-action__description {
  color: #376474;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 56px;
}

.description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}

.btn-box {
  display: flex;
  align-items: center;
  gap: 19px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}
.btn-box__btn {
  border: none;
  border-radius: 32px;
}
.btn-box--red {
  padding: 16px 32px;
  background: #F62A2A;
  color: #FFFFFF;
}
.btn-box--green {
  padding: 16px 32px;
  background: #38CEA8;
  border-radius: 32px;
  color: #FFFFFF;
}
.btn-box--no-fill {
  padding: 8px 32px;
  background: none;
  border: 2px solid #38CEA8;
  border-radius: 24px;
  color: #38CEA8;
  margin: auto;
}
.btn-box--fill-green-btn-mail {
  padding: 8px 32px;
  background: #38CEA8;
  border: 2px solid #38CEA8;
  color: #FFFFFF;
  border-radius: 24px;
}
.btn-box--no-fill-white {
  padding: 8px 32px;
  background: none;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  color: #FFFFFF;
}
.btn-box--no-fill-footer {
  padding: 8px 16px;
  background: none;
  border: 2px solid #38CEA8;
  border-radius: 24px;
  color: #38CEA8;
}

.subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 32px;
  color: #376474;
}

.recipes {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 50px 0;
}
.recipes__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 56px;
  padding: 2.604vw 0;
  color: #212D32;
}
.recipes__subtitle {
  margin-bottom: 50px;
}
.recipes__content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 73px;
  margin-bottom: 46px;
}

.box {
  display: flex;
  flex-direction: row;
  gap: 11px;
}

.box__number-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 56px;
  color: #38CEA8;
}

.inner-list {
  text-align: left;
}
.inner-list__title-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 32px;
  color: #376474;
}
.inner-list__subtitle-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #376474;
}
.inner-list__description-item {
  width: 337px;
  margin-top: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #376474;
}

.dishes__bgr-preview {
  background: url("./image/bgr-preview.jpg") no-repeat;
  background-size: 100%;
}

.dishes__conteiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 125px;
  gap: 100px;
}

.dishes__preview-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  gap: 7px;
}

.title-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.subtitle-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}

.description-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}

.preview-box__title-item {
  color: #376474;
}

.preview-box__subtitle-item {
  text-align: center;
  color: #376474;
}

.preview-box__description-item {
  text-align: center;
  color: #376474;
  max-width: 320px;
}

.preview-box__photo {
  padding: 15px 15px;
}

.preview-box__line {
  margin-top: 30px;
}

.stories {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0;
}
.stories__box-tsd {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.stories__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.5rem;
  color: #38CEA8;
}
.stories__subtitle {
  color: #212D32;
}
.stories__descriptions {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #212D32;
  max-width: 696px;
}
.stories img {
  border: 2px solid #38CEA8;
  border-radius: 10px;
}

.line, .line-bott {
  border: 2px solid #38CEA8;
  max-width: 83.125vw;
  border-radius: 2px;
  opacity: 0.35;
  margin: auto;
}

.revievs, .revievs-scroll {
  padding: 24px 140px;
}

.box-content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.box-content--right {
  display: flex;
  justify-content: flex-start;
  margin-left: 100px;
}

.revievs__inner-list {
  margin-right: 159px;
}

.revievs__inner-list {
  display: flex;
  flex-direction: column;
}

.reviev__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #212D32;
  width: 280px;
  margin-bottom: 16px;
}

.inner-list__name-lost {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #38CEA8;
  margin-bottom: 8px;
}
.inner-list__name-lost b {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 24px;
  margin-right: 4px;
}

.arrow-box {
  display: flex;
  justify-content: space-between;
  padding: 10px 135px;
}

.program-plan {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background: rgba(56, 206, 168, 0.12);
  margin-top: 64px;
}
.program-plan__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 56px;
  margin: 80px 0 16px 0;
}
.program-plan__subtitle {
  margin-bottom: 50px;
}
.program-plan__content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100vw;
  margin-bottom: 2.61vw;
}

.program-plan__box {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.inner-list__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 24px;
  color: #212D32;
}

.inner-list__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #20414D;
  width: 276px;
}

.tabl {
  border-collapse: collapse;
  margin: 56px auto;
  text-align: center;
  border: 1px solid #6377DD;
}
.tabl__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 32px;
  color: #212D32;
}
.tabl__title--price {
  padding: 24px 0;
}
.tabl__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #376474;
}
.tabl__subtitle b {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 32px;
  color: #212D32;
}
.tabl__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #212D32;
}
.tabl__description b {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 3.625rem;
  line-height: 56px;
  color: #212D32;
}
.tabl td, .tabl th {
  padding: 1.25vw 5.21vw;
  border: 1px solid rgba(99, 119, 221, 0.5);
}

.bor-red-right {
  border-right-color: red !important;
}

.bor-top-right-red {
  border-top-color: red !important;
  border-right-color: red !important;
}

.bor-red-but {
  border-block-color: red !important;
}

.recommendation__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 150px;
  gap: 50px;
}

.recommendation__box-content {
  display: flex;
  flex-direction: row;
}

.recommendation__inner-list {
  display: flex;
  flex-direction: column;
}

.recommendation__title-item {
  color: #212D32;
  margin: 15px 0;
}

.recommendation__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  width: 26.5vw;
  color: #20414D;
}

.subscription-mail__bgr {
  background: url("./image/fructs.jpg") no-repeat;
  background-size: 100%;
  margin-top: 30px;
}

.subscription-mail__forma-box {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.subscription-mail__conteiner {
  display: flex;
  padding: 140px 49.85vw 182px 12.85vw;
  gap: 32px;
}

.subscription-mail__forma-box {
  padding: 59px 60px;
}

.forma-box__title-item {
  color: #38CEA8;
}

.forma-box__subtitle-item {
  color: #20414D;
  margin-bottom: 31px;
}

.forma-box__description-question {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 18px;
  color: #212D32;
}

.forma-box__description-call {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 18px;
  color: #212D32;
  margin-bottom: 40px;
}

.mail-adress {
  background: #F0E9E9;
  border: 1px solid #888282;
  border-radius: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #404040;
  padding: 8px 160px 8px 16px;
  margin-bottom: 16px;
}

.subscription-mail__btn-notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 23px;
}
.subscription-mail__btn-notification p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.563rem;
  line-height: 24px;
  color: #212D32;
}

.coaches {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.coaches__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 56px;
  color: #212D32;
  margin-top: 72px;
}
.coaches__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 32px;
  color: #20414D;
  width: 999px;
  text-align: center;
  padding: 10px 0 24px 0;
}

.inner-list__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 24px;
  color: #38CEA8;
}

.profil__title-inner {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 18px;
  color: #212D32;
  padding: 8px 0;
}

.coache__description {
  color: #20414D;
  width: 309px;
}

.coaches__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 90px;
  margin: 2.084vw 0;
}

.coaches__box-content {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.coache__name-social {
  display: flex;
  flex-direction: row;
  gap: 42px;
}

.coache__inner-list {
  display: flex;
  flex-direction: column;
}

.coache__inner-box {
  display: flex;
  gap: 25px;
}

.additional-information {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 32px;
  color: #20414D;
  padding: 64px 0 72px 0;
}

.request__content {
  background: #38CEA8;
}

.request__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 80px 0;
}

.request__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 32px;
  color: #FFFFFF;
}

.footer__navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 300px;
}

.agreement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 228px;
}

.agreement__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 14px;
  color: #212D32;
  margin-bottom: 25px;
}

.agreement__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 14px;
  color: #000000;
}

.agreement__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 14px;
  color: #376474;
  width: 280px;
}

.box-navigation__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #376474;
  margin-bottom: 15px;
}

.box-navigation__list-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 35px;
  color: #212D32;
}

.navigation-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 560px;
}

@media (max-width: 1734px) {
  .description {
    line-height: 22px;
  }
  .call-to-action__subtitle {
    line-height: 44px;
  }
  .title {
    line-height: 44px;
  }
}
@media (max-width: 1622px) {
  .revievs-scroll {
    display: none;
  }
  .line-bott {
    display: none;
  }
}
@media (max-width: 1407px) {
  .description {
    line-height: 20px;
  }
  .call-to-action__subtitle {
    line-height: 40px;
    font-size: 2.8rem;
  }
  .title {
    line-height: 40px;
    font-size: 2.8rem;
  }
}
@media (max-width: 1376px) {
  .call-to-action {
    width: 40vw;
    align-items: flex-start;
  }
  .description {
    text-align: left;
  }
  .revievs__inner-list {
    margin: 0;
  }
}
@media (max-width: 1154px) {
  .stories {
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 20px;
    gap: 30px;
  }
  .stories__box-tsd {
    align-items: center;
  }
  .recommendation__description {
    width: 32.67vw;
    margin: 0;
  }
}
@media (max-width: 1122px) {
  .fitness {
    padding: 6.21vw 0 2.084vw 7.021vw;
  }
  .recommendation__title-item {
    width: 360px;
    text-align: center;
  }
}
@media (max-width: 1035px) {
  .btn-box {
    line-height: 14px;
    font-size: 0.9rem;
  }
}
@media (max-width: 1020px) {
  .call-to-action {
    width: 46vw;
  }
  .call-to-action__subtitle {
    line-height: 35px;
    font-size: 2.5rem;
  }
  .title {
    line-height: 35px;
    font-size: 2.5rem;
  }
  .description {
    font-size: 0.8rem;
  }
  .program-plan__subtitle {
    padding: 0 30px;
    text-align: center;
  }
  .tabl__title, .tabl__title--price {
    font-size: 1rem;
  }
}
@media (max-width: 936px) {
  .contact {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 156px;
    gap: 5px;
  }
  .menu__dropdown-content {
    right: 0;
  }
  .tabl {
    margin: 0;
  }
}
@media (max-width: 858px) {
  .fitness {
    padding: 4.21vw 0 3.084vw 4.021vw;
  }
  .call-to-action {
    width: 46vw;
  }
  .call-to-action__subtitle {
    line-height: 29px;
    font-size: 2.3rem;
  }
  .title {
    line-height: 29px;
    font-size: 2.3rem;
  }
}
@media (max-width: 830px) {
  .menu {
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
  }
  .header__menu-item {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    background: #F1FFF8;
    width: 298px;
    padding: 15px 10px;
  }
  .header__menu-item li {
    padding: 10px 0;
  }
  .header__menu li {
    width: 100%;
  }
  .header__menu nav::before,
  .header__menu::after {
    content: "";
    position: absolute;
    top: 61px;
    left: 10px;
    display: block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAwCAMAAAA8VkqRAAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAAE5JREFUeAFjwAkYcQC6SFAKBt4fo/6AaMMUQTUQIYJpFaqrMIICzkATR2Hi5uDUjmkh7tDAHUq4Qw8ujl+CsFEEHDVowg1n1OJKDLiTDwBLrgJ9vkuXOwAAAABJRU5ErkJggg==);
    cursor: pointer;
    height: 24px;
    width: 24px;
  }
  .header__menu nav::before,
  .header__menu::after {
    background-color: #38CEA8;
    border: 9px solid #38CEA8;
  }
  .header__menu::after {
    background-position: 24px 24px;
    z-index: 1;
  }
  .header__menu nav::before {
    z-index: 2;
  }
  .header__menu nav:focus::before {
    z-index: 0;
  }
  .header__menu nav:focus ul,
  .menu ul:hover {
    display: block;
  }
  .header__menu nav {
    display: block;
  }
  .menu__dropdown {
    position: relative;
    margin-left: 42px;
    margin-top: -33px;
    background: none;
  }
  .menu__dropdown-content {
    left: -54px;
  }
}
@media (max-width: 738px) {
  .fitness {
    padding: 4.21vw 0 3.084vw 4.021vw;
  }
  .call-to-action {
    width: 49vw;
  }
  .call-to-action__subtitle {
    line-height: 24px;
    font-size: 1.8rem;
  }
  .title {
    line-height: 24px;
    font-size: 1.8rem;
  }
  .description {
    max-height: 62px;
    overflow: hidden;
  }
  .btn-box {
    flex-wrap: wrap;
    font-size: 0.8rem;
    gap: 10px;
  }
  .tabl__description b {
    font-size: 2.625rem;
  }
  .tabl_subtitle b {
    font-size: 1.2rem;
  }
}
@media (max-width: 658px) {
  .fitness {
    padding: 4.21vw 0 3.084vw 2.021vw;
    flex-wrap: nowrap;
  }
  .recipes__subtitle {
    text-align: center;
    margin: 0;
    padding: 20px 20px;
  }
  .stories__box-tsd {
    text-align: center;
  }
  .program-plan__subtitle {
    margin: 0px;
    padding: 20px 20px;
  }
  .program-plan__title {
    margin: 0;
    padding: 30px 30px;
    text-align: center;
  }
  .program-plan__content {
    gap: 20px;
  }
}
@media (max-width: 557px) {
  .call-to-action__subtitle {
    line-height: 20px;
    font-size: 1.5rem;
  }
  .title {
    line-height: 20px;
    font-size: 1.5rem;
  }
  .description {
    max-height: 56px;
  }
  .btn-box {
    line-height: 22px;
  }
  .recommendation__title-item {
    text-align: center;
  }
  .recommendation__description {
    width: 78.84vw;
  }
}
@media (max-width: 518px) {
  .call-to-action__subtitle {
    line-height: 19px;
    font-size: 1.2rem;
  }
  .title {
    line-height: 19px;
    font-size: 1.2rem;
  }
  .description {
    max-height: 40px;
  }
}
@media (max-width: 456px) {
  .description {
    max-height: 0;
  }
  .stories__img img {
    width: 360px;
    height: 360px;
  }
  .dishes__preview-box {
    width: 364px;
  }
  .preview-box__line {
    width: 364px;
  }
  .preview-box__photo {
    width: 352px;
  }
  .revievs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .recommendation__box-content {
    justify-content: center;
    gap: 10px;
  }
  .recommendation__description {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */