
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #000000;
}
$bg-header-top: #EAFEEC;
$bg-header-menu: #F1FFF8;
$bg-pro: #F1F3F2;
$bg-block: #E5E5E5;
$ling-text: #20414D;
$black: #000000;
$red: #F62A2A;
$head-text: #212D32;
$title-pro: #32505B;
$text-main: #376474;
$text-white: #FFFFFF;
$health-green: #38CEA8;
$gold-star: #ED8A19;
$placeholder: #404040;
$bg-btn-gray: #F0E9E9;
$bord-grey: #888282;
$border-tab-blue: #6377DD;
$border-tab-red: #FF001F;

@mixin font-face($fw, $fs, $lh){
    font-family: 'Roboto';
    font-style: normal;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}


body{
    background: $bg-block;
    
}
.header__top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.25vw 4.27vw;
    background-color: $bg-header-top;
}  
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    span{
        @include font-face(400, 1.5rem, 32px);
    }
    b{
        font-weight: 700;
    }
}
.social{
    display: flex;
    align-items: center;
    gap: 1.25vw;
    
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25vw 4.69vw;
    background-color: $bg-header-menu;
    
}
   /* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
}

.header__hamburger-menu{
    display: flex;
}

.header__menu-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    
    li{
        @include font-face(400, 1rem, 24px);
        color: $ling-text;
    }
    a:hover{
    
        border-bottom: 2px solid $ling-text;
    }
    a.menu__dropbtn{
        border-bottom: 2px solid $ling-text;
        
    }
}
.header__menu-dropdown::before{
content: url(./image/Arrow\ 3.png);
    position: absolute;
    margin-left: 35px;

}

.header__menu-dropdown-content {
    display: none;
    position: absolute;
    z-index: 5;
    background: $bg-header-menu;
    border-radius: 0 0 32px 32px;
    width: 300px;
    
    a {
        @include font-face(400, 1rem, 24px);
        color: black;
        padding: 10px 15px;
        text-decoration: none;
        display: block;
        margin-top: 10px;
        
    }
    a:hover {
        background-color: $health-green;
        border-radius: 32px;
        color: $text-white;
        border: none;
    }
}
.header__menu-dropdown:hover .header__menu-dropdown-content {
    display: block;
    
}
.contact{
    display: flex;
    align-items: center;
    gap: 32px;
    border: none;
    a{
        @include font-face(400, 1rem, 24px);
        color: $head-text;
        
    }
}
.fitness{
    background: url('./image/ledy.jpg') no-repeat; 
    height: 39.79vw;
    background-size: 100%;
    padding: 8.21vw 0 2.084vw 13.021vw;
}
.call-to-action{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 31vw;
    gap: 1.042vw;

&__title{
    color: $title-pro;
}
&__subtitle{
    @include font-face(700, 3rem, 56px);
    color: $text-main;
}
&__description{
    color: $text-main;
}
}
.title{
    @include font-face(500, 3rem, 56px);
}



.description{
    @include font-face(400, 1rem, 24px);
}
.btn-box{
    display: flex;
    align-items: center;
    gap: 19px;
    @include font-face(400, 1rem, 24px);

&__btn{
    border: none;
    border-radius: 32px;
}
&--red{
    padding: 16px 32px;
    background: $red;
    color: $text-white;
}
&--green{
    padding: 16px 32px;
    background: $health-green;
    border-radius: 32px;
    color: $text-white;
}
&--no-fill{
    padding: 8px 32px;
    background: none;
    border: 2px solid $health-green;
    border-radius: 24px;
    color: $health-green;
    margin: auto;
}
&--fill-green-btn-mail{
    padding: 8px 32px;
    background: $health-green;
    border: 2px solid $health-green;
    color: $text-white;
    border-radius: 24px;
}
&--no-fill-white{
    padding: 8px 32px;
    background: none;
    border: 2px solid $text-white;
    border-radius: 24px;
    color: $text-white;
}
&--no-fill-footer{
    padding: 8px 16px;
    background: none;
    border: 2px solid $health-green;
    border-radius: 24px;
    color: $health-green;
}
}

.subtitle{
    @include font-face(400, 1.5rem, 32px);
    color: $text-main;
}


.recipes{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 50px 0;
    &__title{
        @include font-face(500, 3rem, 56px);
        padding: 2.604vw 0;
        color: $head-text;
    }
    &__subtitle{
        margin-bottom: 50px;
    }


    &__content{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 73px;
        margin-bottom: 46px;
    }
} 
.box{
    display: flex;
    flex-direction: row;
    gap: 11px;
    

}
.box__number-item{
    @include font-face(700, 3rem, 56px);
    color: $health-green;
}




.inner-list{
    text-align: left;

    &__title-item{
        @include font-face(700, 1.25rem, 32px);
        color: $text-main;
    }
    &__subtitle-item{
        @include font-face(400, 1rem, 24px);
        color: $text-main;

    }
    &__description-item{
        width: 337px;
        margin-top: 16px;
        @include font-face(400, 1rem, 24px);
        color: $text-main;
    }
}
.dishes__bgr-preview{
    background: url('./image/bgr-preview.jpg') no-repeat;
    background-size: 100%;

}
.dishes__conteiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 125px;
    gap: 100px;
    
    
}
.dishes__preview-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $text-white;
    border-radius: 10px;
    gap: 7px;
}
.title-item{
    @include font-face(400, 24px, 32px);
}
.subtitle-item{
    @include font-face(400, 1rem, 24px);
}
.description-item{
    @include font-face(400, 1rem, 24px);
}

.preview-box__title-item{
    
    color: $text-main;
}
.preview-box__subtitle-item{
    text-align: center;
    color: $text-main;
}
.preview-box__description-item{
    text-align: center;
    color: $text-main;
    max-width: 320px;
}
.preview-box__photo{
    padding: 15px 15px;
    
}
.preview-box__line{
    margin-top: 30px;
}
.stories{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0;

    &__box-tsd{
        display: flex;
        flex-direction: column;
        gap: 10px;


    }
    &__title{
        @include font-face(400, 3rem, 3.5rem);
        color: $health-green;
    }
    &__subtitle{
        color: $head-text;
    }
    &__descriptions{
        @include font-face(400, 1rem, 24px);
        color: $head-text;
        max-width: 696px;

    }
    img{
        
        border: 2px solid $health-green;
        border-radius: 10px;
    }

}
.line, .line-bott{
    border:2px solid $health-green;
    max-width: 83.125vw;
    border-radius: 2px;
    opacity: 0.35;
    margin: auto;

    
}
.revievs, .revievs-scroll{
    display: flex;
    flex-direction: row;
    padding: 1.25vw 7.291vw;
    gap: 30px;

}
.revievs__box-content{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}


.revievs-scroll--right{
    display: flex;
    justify-content: flex-start;
    margin-left: 5.208vw;
}
.revievs__inner-list{
    margin-right: 8.281vw;
}

.revievs__inner-list{
    display: flex;
    flex-direction: column;
}
.reviev__description{
    @include font-face(400, 1rem, 24px);
    color: $head-text;
    width: 279px;
    margin-bottom: 16px;
}

.inner-list__name-lost{
    @include font-face(400, 1rem, 24px);
    color: $health-green;
    b{
        @include font-face(500, 1.125rem, 24px);  
        margin-right: 4px;
    }
    margin-bottom: 8px;
}

.arrow-box{
    display: flex;
    justify-content: space-between;
    padding: 10px 135px;
}



.program-plan{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background: rgba($health-green, .12);
    margin-top: 64px;
        
    &__title{
    @include font-face(400, 3rem, 56px);
    margin: 80px 0 16px 0 ;
    }
    &__subtitle{
        margin-bottom: 50px;
    }
    &__content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 97vw;
    margin-bottom: 2.61vw;
    
    }
    
}
.program-plan__box{  
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px
}
.inner-list__title{
    @include font-face(500, 1.375rem, 24px);
    color: $head-text;
}
.inner-list__description{
    @include font-face(400, 1rem, 24px);
    color: $ling-text;
    width: 276px;
}

.tabl{
    border-collapse: collapse; 
    margin: 56px auto;
    text-align: center;
    border: 1px solid $border-tab-blue;
    &__title {
        @include font-face(400, 1.5rem, 32px);
        color: $head-text;
    }
    &__title--price{
        padding: 24px 0;
    }
    &__subtitle{
        @include font-face(400, 1rem, 24px);
        color: $text-main;
        b{
            @include font-face(400, 1.5rem, 32px);
            color: $head-text; 
        }
    }
    &__description{
        @include font-face(400, 1rem, 24px);
        color: $head-text;
        b{
        @include font-face(300, 3.625rem, 56px);
        color: $head-text;
        }
    }

td, th{
    padding: 1.25vw 5.21vw;
    border: 1px solid rgba($border-tab-blue, .5);
    }
    
}
.bor-red-right{
    border-right-color: red !important;
    }
.bor-top-right-red{
    border-top-color: red !important;
    border-right-color: red !important;
}
.bor-red-but{
    border-block-color: red !important;
}

.recommendation__box{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.604vw 7.812vw;
    gap: 50px;

}
.recommendation__box-content{
    display: flex;
    flex-direction: row;
    gap: 30px;


}
.recommendation__inner-list{
    display: flex;
    flex-direction: column;
}
.recommendation__title-item{
    color: $head-text;
    margin: 15px 0;
}
.recommendation__description{
    @include font-face(400, 1rem, 24px);
    width: 26.5vw;
    color: $ling-text;
}
.subscription-mail__bgr{
    background: url('./image/fructs.jpg') no-repeat;
    background-size: 100%;
    margin-top: 30px;
}
.subscription-mail__forma-box{
    background-color: $text-white;
    border-radius: 10px;
}
.subscription-mail__conteiner{
    display: flex;
    padding: 7.292vw 49.85vw 9.479vw 12.85vw;
    
}
.subscription-mail__forma-box{
    padding: 59px 60px;

}
.forma-box__title-item{
    color: $health-green;
}
.forma-box__subtitle-item{
    color: $ling-text;
    margin-bottom: 31px;
}
.forma-box__description-question{
    @include font-face(400, 0.75rem, 18px);
    color: $head-text;
    
}
.forma-box__description-call{
    @include font-face(500, 0.75rem, 18px);
    color: $head-text;
    margin-bottom: 40px;
}

.mail-adress{
    background: #F0E9E9;
    border: 1px solid #888282;
    border-radius: 32px;
    @include font-face(400, 1rem, 24px);
    color: $placeholder;
    padding: 8px 160px 8px 16px;
    margin-bottom: 16px;
}
.subscription-mail__btn-notification{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;
    p{
        @include font-face(400, 0.563rem, 24px);
        color: $head-text;
    }

}
.coaches{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    &__title{
        @include font-face(500, 3rem, 56px);
        color: $head-text;
        text-align: center;
        margin-top: 72px;
        
    }
    &__subtitle{
        @include font-face(400, 1.5rem, 32px);
        color: $ling-text;
        width: 92.031vw;
        text-align: center;
        padding: 10px 0 24px 0;
        
    }
}
.inner-list__name{
    @include font-face(500, 1.125rem, 24px);
    color: $health-green;
}

.profil__title-inner{
    @include font-face(700, 0.75rem, 18px);
    color: $head-text;
    padding: 8px 0;
}
.coache__description{
    color: $ling-text;
    width: 309px;
}
.coaches__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 90px;
    margin:2.084vw 0;
}


.coaches__box-content{
    display: flex;
    flex-direction: row;
    gap: 30px;

}
.coache__name-social{
    display: flex;
    flex-direction: row;
    gap: 42px;
}
.coache__inner-list{
    display: flex;
    flex-direction: column;
}
.coache__inner-box{
    display: flex;
    gap: 25px;
}
.additional-information{
    @include font-face(400, 1.5rem, 32px);
    color: $ling-text;
    text-align: center;
    padding: 64px 0 72px 0;
}
.request__content{
    background: $health-green;
}
.request__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 80px 0;
}
.request__description{
    @include font-face(700, 1.5rem, 32px);
    color: $text-white;
    text-align: center;
}
.footer__navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
   

}

.agreement{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 228px;
    
    
}

.agreement__title{
    @include font-face(400, 0.75rem, 14px);
    color: $head-text;
    margin-bottom: 25px;
}
.agreement__subtitle{
    @include font-face(400, 0.75rem, 14px);
    color: $black;
}
.agreement__description{
    @include font-face(400, 0.75rem, 14px);
    color: $text-main;
    width: 280px;
}
.box-navigation__title{
    @include font-face(400, 1rem, 24px);
    color: $text-main;
    margin-bottom: 15px;
}
.box-navigation__list-item{
    @include font-face(400, 1rem, 35px);
    color: $head-text;
}
.navigation-conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 560px;
    
}


@media(max-width: 1734px){
    .description{
        line-height: 22px;
    }
    .call-to-action__subtitle{
        line-height: 44px;
    }
    .title{
        line-height: 44px;
    }

}
@media(max-width: 1622px){


}

@media(max-width: 1407px){
    .description{
        line-height: 20px;
    }
    .call-to-action__subtitle{
        line-height: 40px;
        font-size: 2.8rem;
        
    }
    .title{
        line-height: 40px;
        font-size: 2.8rem;
    }
    
    
}

@media (max-width: 1376px){
    .call-to-action{
        width: 40vw;
        align-items: flex-start;
    }
    .description{
        text-align: left;
    }
    .revievs-scroll--right{
        margin: 0;
    }
    .dishes__bgr-preview{
        background-image: none;
       
    }
}

@media (max-width: 1281px){
     .tabl{
        display: none;
     }
}

@media (max-width: 1154px){
   .stories{
    flex-wrap: wrap;
    justify-content: center;

    padding: 50px 20px;
    gap: 30px;
   }
   .stories__box-tsd{
    align-items: center;
   }
    .recommendation__box{
        justify-content: center;
    }
    .recommendation__title-item{
        align-items: center;
    }
}


@media (max-width: 1122px){
    .fitness{
        padding: 6.21vw 0 2.084vw 7.021vw;
    }
    .recommendation__title-item{
        width: 253px;
        text-align: center;
    }
    .coaches{
        padding: 0 1.562vw;
    }
   
    .subscription-mail__conteiner{
        padding: 1.292vw 49.85vw 9.479vw 27.85vw;
    }
    
}
@media (max-width: 1043px){
    .btn-box{
        line-height: 14px;
        font-size: 0.9rem;
    }
}


@media (max-width: 1020px){
    .call-to-action{
        width: 46vw;
    }
    .call-to-action__subtitle {
    line-height: 35px;
    font-size: 2.5rem;
    }
    .title{
    line-height: 35px;
    font-size: 2.5rem;
    }
    .description{
        font-size: 0.8rem;
    }
    .program-plan__subtitle{
        padding: 0 30px;
        text-align: center;
    }
    .tabl__title, .tabl__title--price{
        font-size: 1rem;
    }
    .revievs, .revievs-scroll--right{
        flex-wrap: wrap;
    }
}


@media (max-width: 976px){
    .menu{
        justify-content: flex-end;
        align-items: flex-start;
        padding: 10px;
        
    }

    .header__menu-item{
        display: none;
        position: absolute;
        top: 100px;
        left: 7px;
        background: $bg-header-menu;
        width: 300px;
        padding: 15px 10px;
    
        li{
            padding: 10px 0;
        }
        

    }
 

  /* стилизуем кнопку */
  .menu__btn {
    display: flex;
    align-items: center;  
    position: absolute;
    top: 63px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  /* контейнер меню */
.header__menu-item {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 100px 30px;
    list-style: none;
    text-align: left;
    background: linear-gradient(to top, $bg-header-menu, 95%, rgba($bg-header-menu, .6) );
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
 #menu__toggle:checked ~ .header__menu-item {
    visibility: visible;
    left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    transition-duration: .25s;
}
.header__menu-item {
    transition-duration: .25s;
}
.menu__item {
    transition-duration: .25s;
}
.header__menu-dropdown-content{
        left: 0px;
    
}
}



@media (max-width: 936px){
    .contact{
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 156px;
        gap: 5px;

    }
    
    .tabl{
        margin: 0;
    }
    .subscription-mail__bgr{
        background: none;
    }
    .subscription-mail__conteiner{
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .call-to-action{
        min-width: 380px;
        min-height: 150px;
        padding:0 10px;
    }
}
@media (max-width: 892px){
    .call-to-action{
        width: 22.760vw;
        height: 244px;
    }
}


@media (max-width: 858px){
    .fitness {
        padding: 5.042vw 1.042vw;
    
    }
    
    .call-to-action__subtitle {
    line-height: 29px;
    font-size: 2.3rem;
    }
    .title{
    line-height: 29px;
    font-size: 2.3rem;
    }
} 

@media (max-width: 758px){
    .recommendation__box{
        padding: 3.646vw 7.812vw ;
    }
    .revievs__box-content{
    flex-wrap: wrap;
}
 .btn-box{
    gap:0.989vw ;
 }
 .fitness{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    background-color: $bg-pro;
    height: 100%;
    
 }
 
 .fitness__call-to-action{
        gap: 10px;
 }
}


@media (max-width: 738px){
    
    .tabl__description b{
        font-size: 2.625rem;
    }
    .tabl_subtitle b{
        font-size: 1.2rem;
    }
    
}
@media (max-width: 658px){
    .recipes__subtitle{
        text-align: center;
        margin: 0;
        padding: 20px 20px;
    }
    .stories__box-tsd{
        text-align: center;
    }
    .program-plan__subtitle{
        margin: 0px;
        padding: 20px 20px;
    }
    .program-plan__title{
        margin: 0;
        padding: 30px 30px;
        text-align: center;
    }
    
    .program-plan__content{
        gap: 20px;
    }

}

@media (max-width: 557px){
    
    .recommendation__title-item{
        text-align: center;
        
    }
    .recommendation__description{
        width: 78.84vw;
    
    }
    .recommendation__box{
        padding: 5.645vw 3.520vw;
    }
    .revievs-scroll--right{
        margin: 0;
    }
    .arrow-box{
        display: none;
    }
    .subscription-mail__conteiner{

        padding: 20px;
    }
    .subscription-mail__forma-box{
        padding: 30px 7px;
    }
    .coache__photo{
        width: 100%;
    }
    .coaches__box-content{
        gap: 2.625vw;
    }
    .coache__name-social{
        gap: 3.041vw;
    }
    .coache__inner-box{
        gap: 1.521vw;
    }
    
    .coache__inner-list{
        width: 54.960vw;       
    }
    .coache__description{
    width: 54.960vw;
    }
}


@media (max-width: 456px){
  
    .stories__img img{
        width: 360px;
        height: 360px;
    }
    .dishes__preview-box{
        width: 364px;
    }
    .revievs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .preview-box__line{
        width: 364px;
    }
    .preview-box__photo{
        width: 352px;
    }
    
    .recommendation__box-content{
        justify-content: center;
        gap: 0px;
    }
    .recommendation__description{
        text-align: center;
    }
    .recommendation__box{
        gap: 0px;
    }
}
@media (max-width: 390px){
    .dishes__conteiner{
        padding-bottom: 10px;
    }
    .subscription-mail__conteiner{
        padding: 8px;
    }
    

    
}